extends layout

block content
	div(style="top:10px;")
		h1 O registo da casa foi enviado para um administrador com sucesso.
		a(href="http://localhost:8001/rua") 
			button.w3-button.w3-white.w3-border Página Inicial