extends layout

block content


		header.w3-container
			h2 Adicionar Rua
        
		form(method="POST")
			label Nome
			input.w3-input.w3-round(type="text" name="rua")
			br
			label Descrição 
			input.w3-input.w3-round(type="text" name="texto")
			

			button.w3-btn.w3-mb-2(type="submit") Adicionar
