extends layout

block content


		header.w3-container
			h2 Adicionar Rua
        
		form(action="/rua/register" method="POST" enctype="multipart/form-data")
			label Numero da Casa
			input.w3-input.w3-round(type="number" name="numero")
			br
			label Nome
			input.w3-input.w3-round(type="text" name="nome")
			br
			label Descrição 
			input.w3-input.w3-round(type="text" name="texto")
			br
			label Latitude 
			input.w3-input.w3-round(type="number" name="latitude" value="0")
			br
			label Longitude
			input.w3-input.w3-round(type="number" name="longitude" value="0")
			br
			label Select a Image 
			input.w3-input.w3-round(type="file" name="myFile")
			br
			label Legenda 
			input.w3-input.w3-round(type="text" name="legenda")

			button.w3-btn.w3-mb-2(type="submit") Adicionar
