extends layout

block content
    header.w3-container
      h1(style="font-weight: bold;") Efetuar Login:
    form.w3-container(action="/login" method="POST")
      label.formsLabel Username 
      input.w3-input(type="text" name="username" style="width:500px;")
      br
      label.formsLabel Password 
      input.w3-input(type="password" name="password" style="width:500px;")
    
      input.w3-btn.notar(type="submit" value="Log In")