extends layout

block content	
	br


	.content
		p(style="color:white;")
		form(role="search")
			input.form-control(type="search", placeholder="Search", aria-label="Search" name="text" style="position:relative; width:300px; left:73px;")
			div(style="position:relative; width:300px; left:73px;")
				input.w3-check(type="radio" name="field" value="nome" checked)
				label Nome
				input.w3-check(type="radio" name="field" value="lugar" style="position:relative; left:10px;")
				label(style="position:relative; left:10px;") Lugar
				input.w3-check(type="radio" name="field" value="data" style="position:relative; left:20px;")
				label(style="position:relative; left:20px;") Data
		br
		div.deslocaDir
			a(href="http://localhost:8001/rua/register") 
				button.w3-button.w3-white.w3-border Adicionar Nova Rua


	.album.py-5
		.container
			.row.row-cols-1.row-cols-sm-2.row-cols-md-4.g-3
				each i in data
					.col
						
						.card.shadow-sm
							svg.bd-placeholder-img.card-img-top(width="150px", height="150px", xmlns="http://www.w3.org/2000/svg", role="img", aria-label="Placeholder: Thumbnail", preserveAspectRatio="xMidYMid slice", focusable="false")
								a(href="http://localhost:8001/rua/" + i._id)
									rect(width="270px", height="150px" fill="white")
									
									//image(src=i.figuras[0].imagem.path alt="foto")
									if (i.figuras.length > 0)
										image(xlink:href=i.figuras[0].imagem.path height="150px" width="270px")
										Console.log(i.figuras[0].imagem.path)
									
									text(x="50%", y="50%", fill="#eceeef", dy=".3em") 
							.card-body
								p.card-text 
										- var c = 0
										for char in i.paragrafo.texto
											if c == 13
												- break 
											if char == ' '
												- c += 1
											| #{char}
										| ...
								.d-flex.justify-content-between.align-items-center
									if(level === "Admin")
										div.btn-group
											button.btn.btn-sm.btn-outline-secondary(type="button")
												a(href="/rua/ultraremove/" + i._id) Eliminar
									small.text-body-secondary #{i.nome}
	.container
		footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
			p.col-md-4.mb-0.text-muted © 2023 Ruas de Braga

			a.col-md-4.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none(href='/')
				svg.bi.me-2(width='40', height='32')
					use(xlink:href="#bootstrap")

			ul.nav.col-md-4.justify-content-end
				li.nav-item
					a.nav-link.px-2.text-muted(href='/') Home
				li.nav-item
					a.nav-link.px-2.text-muted(href='/rua') Ruas

